
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get, create, update: if isOwner(userId);
      
      match /habits/{habitId} {
        allow read, write: if isOwner(userId);
      }
      match /tasks/{taskId} {
        allow read, write: if isOwner(userId);
      }
      match /emergency_contacts/{contactId} {
        allow read, write: if isOwner(userId);
      }
      match /vital_sign_data/{vitalsId} {
        allow read, write: if isOwner(userId);
      }
      match /user_settings/{settingId} {
        allow read, write: if isOwner(userId);
      }
      match /alert_history/{alertId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
